<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

<h1>Products</h1>

<a href="/add-product">Add Product</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>

    {% for product in products %}

    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.product_code }}</td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.current_stock }}</td>

        <td>

            <a href="/edit-product/{{ product.id }}">
                Edit
            </a>

            |

            <a href="/delete-product/{{ product.id }}">
                Delete
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

<br>

<a href="/">Dashboard</a>

</body>
</html>